{% extends "home/base.html" %}

{% block content %}


<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('https://img.freepik.com/psd-premium/maquette-bouteille-verre-lait-cafe-glace_69464-2261.jpg?w=2000');">

                    
                
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Welcome to DeFind</h2>
        </div>
      </div>
      <div class="pb-md-5">
          <p>Transforming Ideas into Icons - Elevate Your Brand with Our Signature Designs and Packaging Expertise</p>
                    <p><a href="#" class="btn btn-primary">Shop now</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
<div class="container py-4">
<div class="row d-flex justify-content-center py-5">
  
  <div class="col-md-6 d-flex align-items-center">
    
  </div>
</div>
</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);">
<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-10">
            <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="10000">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Branches</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Partner</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Awards</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</section>

<section class="ftco-section testimony-section">
<div class="container">
<div class="row justify-content-center mb-5 pb-3">
  <div class="col-md-7 heading-section ftco-animate text-center">
      <span class="subheading">Testimony</span>
    <h2 class="mb-4">Why us ?</h2>
    <p>Choose us because we don’t just design, we create brand legacies. Your journey to distinction starts here. </p>
  </div>
</div>
<div class="row ftco-animate">
  <div class="col-md-12">
    <div class="carousel-testimony owl-carousel">
      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url('https://images-platform.99static.com//bN8KmypbcyxXuhduK2AhrpVVhSw=/406x90:1461x1145/fit-in/590x590/99designs-contests-attachments/66/66989/attachment_66989451')">
            <span class="quote d-flex align-items-center justify-content-center">
                <i class="fas fa-id-card"></i>
            </span>
          </div>
          <div class="text text-center">
            <p class="mb-5 pl-4 line">"Elevate your brand with us – where every detail is a brushstroke on the canvas of your success story.</p>
           
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url('https://images-platform.99static.com//U_qgS_gs3Ml0CWYZ3Ue-0uXCd7A=/228x0:728x500/fit-in/500x500/99designs-contests-attachments/89/89389/attachment_89389058')">
            <span class="quote d-flex align-items-center justify-content-center">
                <i class="fas fa-id-card"></i>
            </span>
          </div>
          <div class="text text-center">
            <p class="mb-5 pl-4 line">Experience the power of personalized design – your vision, our craftsmanship, an unbeatable partnership</p>
            
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimony-wrap p-4 pb-5">
          <div class="user-img mb-5" style="background-image: url('https://images-platform.99static.com//ZZcY90Gi0mmJT9zURuyW-QFzGeo=/93x0:892x799/fit-in/500x500/99designs-contests-attachments/111/111692/attachment_111692435')">
            <span class="quote d-flex align-items-center justify-content-center">
                <i class="fas fa-id-card"></i>
            </span>
          </div>
          <div class="text text-center">
            <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
         
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
</section>

<section class="ftco-section">
    <div class="container">
      <div class="row no-gutters ftco-services">
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
              <span class="fas fa-truck"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Free Shipping</h3>
              <span>All Over india</span>
            </div>
          </div>      
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
              <span class="fas fa-home"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Door Step delivery</h3>
              <span>max 1-2 days(all over india)</span>
            </div>
          </div>    
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
              <span class="fas fa-certificate"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Superior Quality</h3>
              <span>Quality Products</span>
            </div>
          </div>      
        </div>
        <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services mb-md-0 mb-4">
            <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
              <span class="fas fa-life-ring"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">Support</h3>
              <span>We help you to create models</span>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <br>
    <div class="text-center">
    <a href="">  <button type="button" class="btn btn-success">Connect us</button></a>
    </div>
  </section>


{% endblock %}